<!DOCTYPE html>
<html lang="en" xmlns:sa="http://www.thymeleaf.org/extras/sa-token"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--公共模块-->
  <div th:replace="~{layout}"></div>
<body>
<div class="panel panel-default operation" hidden>
  <div class="panel-heading title"></div>
<div class="layui-card-body">
<form class="layui-form " action="" lay-filter="info">
#foreach($column in $htmlColumns)
#if($column.columnName == $pk.columnName)
  <input name="${column.attrname}" hidden/>
#else
    <div class="layui-form-item">
      <label class="layui-form-label">${column.comments}</label>
      <div class="layui-input-block">
        <input type="${column.attrname}" name="${column.attrname}" placeholder="请输入${column.comments}" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
  #end
#end
<div class="layui-form-item">
  <div class="layui-input-block">
    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
    <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
  </div>
</div>
</form>
</div>
</div>

<div class="table_div">
  <div id="searchParam"  sa:hasPermission="${classname}:list">
    <form class="layui-form ">
      <div class="layui-form-item">
        <div class="layui-input-inline">
          <input type="text" name="key" class="layui-input"  autocomplete="off" placeholder="请输入">
        </div>
        <div class="layui-input-inline ">
          <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
        </div>
      </div>
    </form>
  </div>
  <table class="layui-table" id="showTable" lay-filter="showTable" ></table>
</div>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container oper">
    <button class="layui-btn layui-btn-sm" lay-event="add"  sa:hasPermission="${classname}:add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" sa:hasPermission="${classname}:delete">删除</button>
  </div>
</script>
<script type="text/html" id="tool">
  <a class="layui-btn layui-btn-xs" lay-event="look">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit" sa:hasPermission="${classname}:update">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" sa:hasPermission="${classname}:delete">删除</a>
</script>

</body>
</html>
<script>
  layui.use(function () {
    var table = layui.table;
    var form = layui.form;
    var layer = layui.layer;
    //加载table
    var tableIns1 = table.render({
      elem: '#showTable'
      , contentType: 'application/json'
      , page: true //开启分页
      , url: ctx + '${classname}/listByPage' //数据接口
      , method: 'POST'
      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
        return {
          "code": res.code, //解析接口状态
          "msg": res.msg, //解析提示文本
          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
        }
      }
      , cols: [
        [
          {type: 'checkbox', fixed: 'left'},
#foreach($column in $htmlColumns)
          {field: '${column.attrname}', title: '${column.comments}', sort: true},
#end
          {width: 120, toolbar: "#tool", title: '操作'}
        ]
      ]
      , toolbar: '#toolbar'
    });


    //表头工具
    table.on('toolbar(showTable)', function(obj){
      switch(obj.event){
        case 'batchDeleted':
          var checkStatus = table.checkStatus(obj.config.id);
          var data = checkStatus.data;
          if(data.length==0){
            layer.msg("请选择要批量删除的列");
          }else {
            var ids = [];
            $(data).each(function (index,item) {
              ids.push(item.id);
            });
            tipDialog(ids);
          }
          break;
        case 'add':
          toUnDisabled();
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("新增");
          setTimeout(function () {
            form.val('info', {
              "test": "test"
#foreach($column in $htmlColumns)
              , "${column.attrname}": ""
#end
            });
          }, 200);
          break;
      };
    });
    //列操作
    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case 'del':
          var ids=[];
          ids.push(data.id);
          tipDialog(ids);
          break;
        case 'look':
          backshow(data);
          toDisabled();
          break;
        case 'edit':
          backshow(data);
          $(".title").html("编辑");
          toUnDisabled();
          break;
      }
    });

    //删除
    var tipDialog=function (ids) {
      layer.open({
        content: "确定要删除么?",
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendDelete(ctx + "${classname}/delete",ids,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              tableIns1.reload();
            });
          });
        }
      });
    };

    //返回
    $("#btn_cancel").click(function() {
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    //监听保存
    form.on('submit(submit)', function(data){
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
        CoreUtil.sendPost(ctx + "${classname}/add",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          tableIns1.reload();
        });
      }else {
        CoreUtil.sendPut(ctx + "${classname}/update",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          tableIns1.reload();
        });
      }

      return false;
    });

    // 监听搜索操作
    form.on('submit(data-search-btn)', function (data) {
      //执行搜索重载
      tableIns1.reload({
        page: {
          curr: 1
        }
        , where: data.field
      });
      return false;
    });

    //回显
    var backshow = function (data) {
      $(".table_div").hide();
      $(".operation").show();
      $(".title").html("查看");
      setTimeout(function () {
        form.val('info', {
          "test": "test"
          #foreach($column in $htmlColumns)
            , "${column.attrname}": data.${column.attrname}
          #end
        });
      }, 200);
    }

    //禁用输入
    var toDisabled = function () {
      $(".oper").hide();
      $(".disabled").each(function (index, elem) {
        $(elem).attr("disabled", "")
      })
    }

    //放开输入
    var toUnDisabled = function () {
      $(".oper").show();
      $(".disabled").each(function (index, elem) {
        $(elem).removeAttr("disabled", "")
      })
    }
  });
</script>