package ${package}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.entity.${className}Entity;

import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}Entity> {

}

