<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/custom.form.css">
</head>
<body>
<div class="panel panel-default operation" hidden>
  <div class="panel-heading title"></div>
<div class="layui-card-body">
<form class="layui-form " action="" lay-filter="info" style="width: 700px;margin-top: 10px">
      <input name="id" hidden/>
        <div class="layui-form-item">
      <label class="layui-form-label">标题</label>
      <div class="layui-input-block">
        <input type="title" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
      </div>
    </div>
        <div class="layui-form-item">
      <label class="layui-form-label">内容</label>
      <div class="layui-input-block">
        <textarea id="content" name=content style="display: none;"></textarea>
      </div>

    </div>
  <div class="layui-form-item">
  <div class="layui-input-block">
    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
    <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
  </div>
</div>
</form>
</div>
</div>

<div class="table_div">
  <div id="searchParam"  shiro:hasPermission="sysContent:list">
    <div class="layui-form-item">
      <div class="layui-input-inline">
        <input type="text" id="title" class="layui-input"  autocomplete="off" placeholder="请输入标题">
      </div>

      <div class="layui-input-inline ">
        <button class="layui-btn"   id="search">查询</button>
      </div>
    </div>

  </div>
  <table class="layui-table" id="showTable" lay-filter="showTable" ></table>
  <div id="laypage"></div>
</div>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add"  shiro:hasPermission="sysContent:add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" shiro:hasPermission="sysContent:delete">删除</button>
  </div>
</script>
<script type="text/html" id="tool">
  <a class="layui-btn layui-btn-xs" lay-event="preview" shiro:hasPermission="sysContent:list">预览</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="sysContent:update">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="sysContent:delete">删除</a>
</script>

</body>
</html>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script>

  var table = layui.table;
  var laypage = layui.laypage
  var form = layui.form;
  var layer = layui.layer;
  var $ = jQuery = layui.jquery;
  var laydate = layui.laydate;
  var layedit = layui.layedit;
  var token = CoreUtil.getData("access_token");
  layui.use(['table', 'laypage', 'layer', 'laydate', 'layedit'], function () {

    //图片
    token = token.replace("#", "%23");//转义token中的#号
    layedit.set({
      uploadImage: {
        url: '/picture/upload?authorization=' + token //接口url
        ,type: 'post' //默认post
      }
    });
    var editIndex = layedit.build('content'); //建立编辑器

    var ins1;
    var searchParam = {
      title: null,
      page: 1,
      limit: 10
    };
    //初始化 获取数据
    loadData();

    function loadData(page){
      searchParam.page = CoreUtil.isEmpty(page) ? searchParam.page : page;
      CoreUtil.sendAjax("/sysContent/listByPage", JSON.stringify(searchParam), function (res) {
        //初始化渲染数据
        if (res.data.records != null) {
          loadTable(res.data.records);
        }
        laypageTable(res.data.total);
      }, "POST", false, function (res) {
        layer.msg("抱歉！您暂无获取列表的权限");
        var noAuthorityData = [];
        loadTable(noAuthorityData);
      });
    }

    //渲染分页插件
    function laypageTable(total) {
      laypage.render({
        elem: 'laypage'
        , count: total
        , limit: searchParam.limit
        , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
        , curr: searchParam.page //获取起始页
        , jump: function (obj, first) {
          if(!first){
            searchParam.page = obj.curr;
            searchParam.limit = obj.limit;
            loadData()
          }
        }
      });
    };

    //渲染table
    var loadTable = function (data) {
      //展示已知数据
      ins1 = table.render({
        elem: '#showTable'
        , cols: [
          [
            {type: 'checkbox', fixed: 'left'},
            {field: 'id', title: 'id', sort: true},
            {field: 'title', title: '标题', sort: true},
            {field: 'content', title: '内容', sort: true},
            {field: 'createTime', title: '创建时间', sort: true},
            {width: 200, toolbar: "#tool", title: '操作'}
          ]
        ]
        , data: data
        , even: true
        , limit: data.length
        , limits: [10, 20, 30, 40, 50]
        , toolbar: '#toolbar'
      });
    };

    //表头工具
    table.on('toolbar(showTable)', function(obj){
      switch(obj.event){
        case 'batchDeleted':
          var checkStatus = table.checkStatus(obj.config.id);
          var data = checkStatus.data;
          if(data.length==0){
            layer.msg("请选择要批量删除的列");
          }else {
            var ids = [];
            $(data).each(function (index,item) {
              ids.push(item.id);
            });
            tipDialog(ids);
          }
          break;
        case 'add':
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("新增");
          $(".operation input[name=id]").val("");
          $(".operation input[name=title]").val("");
          layedit.setContent(editIndex, "");
          break;
      };
    });
    //列操作
    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case 'del':
          var ids=[];
          ids.push(data.id);
          tipDialog(ids);
          break;
        case 'edit':
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("编辑");
          $(".operation input[name=id]").val(data.id);
          $(".operation input[name=title]").val(data.title);
          layedit.setContent(editIndex, data.content);
          break;
        case 'preview':
          layer.open({
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            title: "预览",
            shadeClose: true, //开启遮罩关闭
            area: ['900px', '500px'], //宽高
            shade: 0.6, //遮罩透明度
            maxmin: true, //允许全屏最小化
            anim: 1, //0-6的动画形式，-1不开启
            content: data.content, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
            cancel: function () {
            }
          });
          break;
      }
    });


    //执行查询
    $("#search").click(function () {
      searchParam.title = $("#title").val();
      loadData(1);
    });

    //删除
    var tipDialog=function (ids) {
      layer.open({
        content: "确定要删除么?",
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendAjax("/sysContent/delete",JSON.stringify(ids),function (res) {
            layer.msg(res.msg, {time:1000},function () {
              loadData(1);
            });
          },"DELETE",false,function (res) {
            layer.msg("抱歉！您暂无删除用户的权限");
          });
        }
      });
    };

    //返回
    $("#btn_cancel").click(function() {
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    //监听保存
    form.on('submit(submit)', function(data){
      data.field.content = layedit.getContent(editIndex);
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
        CoreUtil.sendAjax("/sysContent/add",JSON.stringify(data.field),function (res) {
          $(".table_div").show();
          $(".operation").hide();
          loadData(1);
        },"POST",false,function (res) {
          layer.msg("抱歉！您暂无权限");
        });
      }else {
        CoreUtil.sendAjax("/sysContent/update",JSON.stringify(data.field),function (res) {
          $(".table_div").show();
          $(".operation").hide();
          loadData(1);
        },"PUT",false,function (res) {
          layer.msg("抱歉！您暂无权限");
        });
      }

      return false;
    });
  });
</script>