<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <title>Title</title>
    <style>
        #banner{
            background: url("/images/404.png") no-repeat;
            background-size: 100%;
            overflow: hidden;
        }
        h1{
            font-size: 40px;
        }
    </style>
</head>
<body>
<div class="layui-container" style="height: 500px;width: 600px;" id="banner">
</div>
<div class="layui-container" style="text-align: center;margin-top: 20px;">
    <h1>404</h1>
    <h3>您访问的页面好像不存在哦！</h3>
</div>
</body>
<script>
    //跳出 iframe 到顶级窗口
    if ( top.location != self.location ){
        top.location =self.location;
    }
</script>
</html>