<!doctype html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width initial-scale=1'>
    <title>后台管理系统 介绍</title></head>
<body>
<h1>springboot-manager</h1>

<h2>介绍</h2>

<p>基于SpringBoot 、Apache Shiro、Redis、Mybatis Plus 、Thymeleaf、Layui 后台管理系统<br/>提供代码生成器，基本增删改查无需编写，可快速完成开发任务。开发最精简，可当脚手架，适合你来diy
</p>

<h2>特征&amp;提供</h2>

<ul>
    <li>后台接口RESTful 风格，支持前后端分离，可与app公用一套接口。</li>
    <li>采用RBAC的权限控制</li>
    <li>统一响应结果封装及生成工具</li>
    <li>统一异常处理</li>
    <li>采用shiro redis token 角色权限管理认证</li>
    <li>使用Druid Spring Boot Starter 集成Druid数据库连接池与监控</li>
    <li>集成MyBatis-Plus，实现单表业务零SQL</li>
    <li>支持多数据源，自由切换，只需方法或类上用 @DS 切换数据源</li>
    <li>集成国人风格的knife4j，自动生成接口文档</li>
    <li>提供代码生成器，生成从html到mapper，自动赋给admin超级权限，爽歪歪</li>
</ul>

<h2>技术</h2>

<ul>
    <li>核心框架：spring boot 2.1.6</li>
    <li>持久层框架：mybatis plus</li>
    <li>数据库连接池：alibaba druid</li>
    <li>安全框架：apache shiro</li>
    <li>缓存框架：redis</li>
    <li>日志框架：logback</li>
    <li>接口文档：Knife4j</li>
    <li>前端模板：thymeleaf+layui2x</li>
</ul>

<h2>开发</h2>

<ul>
    <li>Model内成员变量建议与表字段数量对应，如需扩展成员变量（比如连表查询）建议创建VO，否则需在扩展的成员变量上加@TableField(exist = false)</li>
    <li>如果表有是否删除字段，需要在Model注解@TableLogic 默认1未删 0删除， 或@TableLogic(value=&quot;逻辑未删除值&quot;,delval=&quot;逻辑删除值&quot;)</li>
    <li>登录密码 admin/123456</li>
</ul>
</body>
</html>