<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<style>
    .layui-btn-normal{
        background-color:#1E9FFF
    }
    .layui-btn{
        display:inline-block;
        height:38px;
        line-height:38px;
        padding:0 18px;
        background-color:#009688;
        color:#fff;
        white-space:nowrap;
        text-align:center;
        font-size:14px;
        border:none;
        border-radius:2px;
        cursor:pointer
    }
</style>
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<title>后台管理系统 介绍</title></head>
<body>
</body>
<script src="/layui/layui.all.js"></script>
</html>