<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.project.mapper.SysFilesMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.company.project.entity.SysFilesEntity" id="sysFilesMap">
        <result property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="createDate" column="create_date"/>
    </resultMap>


</mapper>