<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.mapper.SysGeneratorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.company.project.entity.SysGenerator">
        <id column="id" property="id" />
        <result column="table_name" property="tableName" />
        <result column="menu_name" property="menuName" />
        <result column="pid" property="pid" />
        <result column="gen_time" property="genTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, table_name, menu_name, pid, gen_time
    </sql>

</mapper>
